header{
    border: 1px solid #eeeeee;
    background-color: #3cd21a;
    grid-column: 1/span 2;
}
nav {
    border: 1px solid #eee;
    background-color: #a9b0a8;
    grid-template-columns: 60px auto;
}
main {
    border: 1px solid #eee;
    background-color: #f0f0f0;
}
footer {
    border: 1px solid #eee;
    background-color: #3cd21a;
    grid-column: 1/span 2;
}
body {
    display: grid;
    grid-template-columns: auto auto;
    height: 100vh;
}